* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
header {
  border-style: solid;
}
header div {
  padding-bottom: 40px;
  font-size: 2rem;
}
.logo {
  height: 80px;
  width: 80px;
}
header nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: black;
}
header nav ul {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: grey;
}
#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  width: 20%;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
}
